contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1756544611453/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1755216263872/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1758132430753/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1756908513222/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1756739594330/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1756467528/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.10.6
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1757505485/work/dist/numpy-2.3.3-cp313-cp313-linux_x86_64.whl#sha256=b852fc611d6e291ec5e5b3479e5d0aa2fdf63fd264ebf89ebd2c62649a91b3ce
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1756812161875/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1755778901708/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1758208668/work
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
PySide6==6.9.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
setuptools==80.9.0
shiboken6==6.9.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1752540242079/work
torchaudio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchaudio_1755749197/work
torchcodec @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchcodec_1757489486/work
torchvision @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision_1753496686/work
torchvision-extra-decoders @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_torchvision-extra-decoders_1748570842/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1756854903354/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
