contourpy>=1.2.0
cycler>=0.12.0
filelock>=3.12.0
fonttools>=4.45.0
fsspec>=2023.12.0
gmpy2>=2.1.5
Jinja2>=3.1.2
kiwisolver>=1.4.5
MarkupSafe>=2.1.3
matplotlib==3.10.6
mpmath>=1.3.0
munkres==1.1.4
networkx>=3.2
numpy>=1.24.0
optree>=0.11.0
packaging>=23.0
pandas>=2.1.0
Pillow>=10.0.0
pybind11>=2.11.0
pyparsing>=3.1.0
PySide6==6.9.2
python-dateutil>=2.8.2
pytz>=2023.3
setuptools==80.9.0
six>=1.16.0
sympy>=1.12
tornado>=6.3.0
typing-extensions>=4.8.0
tzdata>=2023.3
flwr[simulation]>=1.9.0
torch>=2.4.0
scikit-learn>=1.5.1
openpyxl>=3.1.5
